@media screen and (min-width: 1080px) {
	.wrap {
		@include wrap;
		//
		.lock {
			@include desktop;
			@include center;
			//
			}
		}

	#top {
		height:470px;
		}
	.fordesktoponly{display:initial;}
	.forhandheldonly{display:none;}
	a.label {
		h1 {
			@include reset;
			@include font-sans1-m;
			display:inline-block;
			color:white;
			font-size:0.8em;	
			}
		p {
			@include reset;
			@include hide;
			@include font-sans1-m;
			font-size:0.8em;	
			color:lighten($color_ninyo, 35%)
			}
		&:hover {
			background:$color_ninyo;
			p {
				@include unhide;
				}
			}
		} 
	.grid {
		a {
			margin-right:0%;
			width:33%;
			margin-right:.5%;
			&:nth-child(2n+2){margin-right:.5%;}
			&:nth-child(3n+3){margin-right:0;}
			&:nth-child(n+7){display:initial;}
			}
		}
	.blockinfo {
		div.groupcontent {
			a.photocircle {
				margin:0 15px 70px 0;
				}
			}
		}
	#experience {
		.resume_group {
			@include clearfix;
			@include vp('box-sizing', 'border-box'); 
			float:left;
			width:49.5%;
			margin-right:1%;
			&:last-child {
				margin-right:0%;
				}
			h2 {}
			div {
				.resume_target{
					h3 {}
					p {}
					}
				}
			}
		}
	}